<main class="contenedor">
  <div class="card text-center" id="pokemon-card">
    <div id="header">
      <h2 class="display-2 med-display-2 peq-display-2 span-2">{{pkmn.nombre!}} <span>Nº {{pkmn.nroPkmn!}}</span></h2>
    </div>
    <div class="grid col-2 peq-col-1">
      <img id="pkmn-img" class="margin-x-auto" src="../../../assets/img/{{pkmn.nroPkmn!}}{{pkmn.nombre!}}.png"
        alt="{{pkmn.nombre}}">
      <div class="detalle">
        <div id="botonera-edicion">
          <a (click)="mostrarModal()" class="boton btn-peq"><i class="fas fa-cog"></i> Editar</a>
          <a (click)="onEliminarPkmn()" class="boton btn-negro btn-peq"><i class="fas fa-trash"></i> Eliminar</a>
        </div>
        <p class="text-justify">{{pkmn.descripcion}}</p>
        <div id="tipos" class="text-center">
          <h3>Tipo:</h3>
          <img src="../../../assets/tipos/{{pkmn.tipo1}}.gif" alt="{{pkmn.tipo1}}">
          <span *ngIf="pkmn.tipo2 != 'noTiene'; else relleno "><img
              src="../../../assets/tipos/{{pkmn.tipo2}}.gif" alt="{{pkmn.tipo2}}"></span>
          <ng-template #relleno><span></span></ng-template>
        </div>
        <div id="botonera-nav" class="grid col-2">
          <a href="/{{previousPkmn.nombre}}" *ngIf="pkmn.nroPkmn != '001'; else relleno" class="boton btn-gris span-1"
            id="previousBtn">
            <i class="fas fa-angle-double-left"></i> {{previousPkmn.nroPkmn!}} {{previousPkmn.nombre!}}
          </a>
          <a href="/{{nextPkmn.nombre!}}" *ngIf="pkmn.nroPkmn != '151'" class="boton btn-gris span-1" id="nextBtn">
            <i class="fas fa-angle-double-right"></i> {{nextPkmn.nroPkmn!}} {{nextPkmn.nombre!}}
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

<div id="modal" class="modal" *ngIf="visibilidadModal">
  <div class="modal-contenido">
    <div class=" width-100 text-right">
      <a (click)="ocultarModal()" class="boton">x</a>
    </div>
    <h2 class="display-3 med-display-3 peq-display-3 text-center">Modificar registro de {{pkmn.nombre}}</h2>
    <form #f="ngForm" (ngSubmit)="f.form.valid && guardarPokemon()" class="grid col-4 gap-50" id="form-modificar">
      <label for="nombre" class="span-1 text-center">Nombre: </label>
      <input type="text" class="span-3" name="nombre"
            required [(ngModel)]="pkmn.nombre">

      <label for="nroPkmn" class="span-1 text-center">Número: </label>
      <input type="text" name="nroPkmn" class="span-3"
            required [(ngModel)]="pkmn.nroPkmn">

      <label for="tipo1" class="span-1 text-center">Primer tipo: </label>
      <select name="tipo1" id="tipo1" size="5" class="span-3" required [(ngModel)]="tipo1PkmnForm">
        <option value="none" disabled> --Seleccione un tipo-- </option>
        <option *ngFor="let tipoK of tipoKeys | slice:0:18; let tipoV of tipoValues | slice:0:18"
                [ngValue]="tipoK"
                [selected] ="pkmn.tipo1 == tipoV"> {{tipoV}} </option>
      </select>

      <label for="tipo2" class="span-1 text-center">Segundo tipo: </label>
      <select name="tipo2" id="tipo2" size="5" class="span-3" required [(ngModel)]="tipo2PkmnForm">
        <option value="none" disabled> --Seleccione un tipo-- </option>
        <option *ngFor="let tipoK of tipoKeys | slice:0:18; let tipoV of tipoValues | slice:0:18"
                [ngValue]="tipoK"
                [selected] ="pkmn.tipo2 == tipoV"> {{tipoV}} </option>
        <option value="noTiene" [selected]="pkmn.tipo2 == 'noTiene'"> No tiene segundo tipo </option>
      </select>

      <label for="descripcion" class="span-1 text-center">Descripción: </label>
      <textarea name="descripcion" id="descripcion" cols="5" rows="5" class="span-3"
                placeholder="Descripción del pokemon" value="{{pkmn.descripcion}}"
                required [(ngModel)]="pkmn.descripcion" > </textarea>

      <div class="span-4 text-center">
        <button type="submit" class="boton">
          <i class="fas fa-disk"></i> Guardar pokemon
        </button>
    </div>
    </form>
  </div>
</div>
