<main class="contenedor">
  <div class="card text-center">
    <header>
      <h1 class="display-2 med-display-2 peq-display-2">Búsqueda</h1>
      <form #f="ngForm" (ngSubmit)="f.form.valid && onBuscar()" id="busqueda">
        <input type="text" name="busqueda" class="input" placeholder="Nombre o número del pokemon"
          [(ngModel)]="busquedaInput" required>
        <button type="submit" class="boton">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <div class="text-left" id="busqueda-botones" class="flex-space">
        <div>
          <button *ngIf="!visibilidadFiltro" class="boton btn-negro margin-top" (click)="verFiltro()">Listado por tipos</button>
          <button *ngIf="visibilidadFiltro" class="boton btn-negro margin-top" (click)="ocultarFiltro()">Ocultar listado por tipo</button>
        </div>
        <div>
          <button *ngIf="!visibilidadRandom" class="boton btn-azul margin-top" (click)="iniciarRandom()">¡Sorpresa!</button>
          <button *ngIf="visibilidadRandom" class="boton btn-azul margin-top" (click)="ocultarRandom()">Ocultar pokemon random</button>
        </div>
      </div>

    </header>

    <section>
      <form *ngIf="visibilidadFiltro && !visibilidadRandom" class="grid col-2 med-col-1 padding-top" #ff="ngForm" id="busqueda-filtro"
        (ngSubmit)="ff.form.valid && onFiltrar()">

        <label>Tipo a filtrar </label>
        <select name="filtro" id="filtro" size="5" required [(ngModel)]="tipoInput">
          <option value="none" disabled> --Seleccione un tipo-- </option>
          <option *ngFor="let tipoK of tipoKeys | slice:0:18; let tipoV of tipoValues | slice:0:18" [ngValue]="tipoK">
            {{tipoV}} </option>
        </select>

        <div class="span-2 med-span-1 text-center padding-top">
          <button type="submit" class="boton btn-negro">
            <i class="fas fa-sliders-h"></i> Filtrar
          </button>
        </div>
      </form>
    </section>

    <section *ngIf="visibilidadLista" class="table-responsive">
      <table id="pokemons-table" class="table margin-x-auto">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Sprite</th>
            <th>Tipo 1</th>
            <th>Tipo 2</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Pokemons con el tipo filtrado como tipo principal -->
          <tr *ngFor="let pkmn of arrayTipo1;">
            <td>{{pkmn.nroPkmn}}</td>
            <td>{{pkmn.nombre}}</td>
            <td>
              <img class="sprite" src="../../../assets/spr/{{pkmn.nroPkmn}}MS.png" alt="{{pkmn.nombre}}">
            </td>
            <td>
              <img class="tipo-img" src="../../../assets/tipos/{{pkmn.tipo1}}.gif" alt="{{pkmn.tipo1}}">
            </td>
            <td *ngIf="pkmn.tipo2 != 'noTiene'; else relleno ">
              <img class="tipo-img" src="../../../assets/tipos/{{pkmn.tipo2}}.gif" alt="{{pkmn.tipo2}}">
            </td>
            <td>
              <a href="/{{pkmn.nombre}}" class="boton btn-negro"> <i class="fas fa-book"></i> Ver detalle </a>
            </td>
            <ng-template #relleno>
              <td></td>
            </ng-template>
          </tr>

          <!-- Pokemons con el tipo filtrado como tipo secundario -->
          <tr *ngFor="let pkmn2 of arrayTipo2;">
            <td>{{pkmn2.nroPkmn}}</td>
            <td>{{pkmn2.nombre}}</td>
            <td>
              <img class="sprite" src="../../../assets/spr/{{pkmn2.nroPkmn}}MS.png" alt="{{pkmn2.nombre}}">
            </td>
            <td>
              <img class="tipo-img" src="../../../assets/tipos/{{pkmn2.tipo1}}.gif" alt="{{pkmn2.tipo1}}">
            </td>
            <td *ngIf="pkmn2.tipo2 != 'noTiene'; else relleno ">
              <img class="tipo-img" src="../../../assets/tipos/{{pkmn2.tipo2}}.gif" alt="{{pkmn2.tipo2}}">
            </td>
            <td>
              <a href="/{{pkmn2.nombre}}" class="boton btn-negro"> <i class="fas fa-book"></i> Ver detalle </a>
            </td>
            <ng-template #relleno>
              <td></td>
            </ng-template>
          </tr>

        </tbody>
      </table>
    </section>

    <section *ngIf="visibilidadRandom && !visibilidadFiltro" class="text-center" id="pokemon-card">
        <div id="header" class="margin-top">
          <h2 class="display-2 med-display-2 peq-display-2 span-2">{{pkmnRandom.nombre}} <span>Nº {{pkmnRandom.nroPkmn}}</span></h2>
        </div>
        <div class="grid col-2 peq-col-1">
          <img id="pkmn-img" src="../../../assets/img/{{pkmnRandom.nroPkmn!}}.png"
            alt="{{pkmnRandom.nombre}}">
          <div class="detalle">
            <p class="text-justify">{{pkmnRandom.descripcion}}</p>
            <div id="tipos" class="text-center">
              <h3>Tipo:</h3>
              <img src="../../../assets/tipos/{{pkmnRandom.tipo1}}.gif" alt="{{pkmnRandom.tipo1}}">
              <span *ngIf="pkmnRandom.tipo2! != 'noTiene'; else relleno "><img
                  src="../../../assets/tipos/{{pkmnRandom.tipo2}}.gif" alt="{{pkmnRandom.tipo2}}"></span>
              <ng-template #relleno><span></span></ng-template>
            </div>
          </div>
        </div>
    </section>

  </div>
</main>
